body {
  margin: 0;
}

.detail-blog {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.detail-blog .detail-blog-card img {
  width: 100%;
}

.detail-blog .detail-blog-card .detail-blog-judul {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.detail-blog .detail-blog-card .detail-blog-penulis {
  margin-bottom: 20px;
}

.detail-blog .detail-blog-card .detail-blog-konten {
  font-size: 20px;
}
